<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Описание</th>
                <th>Цвет глаз</th>
            </tr>
        </thead>
        {{#each data}}
            <tbody>
                <td>{{name.firstName}}</td>
                <td>{{name.lastName}}</td>
                <td> ... </td>
                <td> {{eyeColor}} </td>
            </tbody>
        {{/each}}
    </table>
</div>
